.studies-results-table {
	.overlay {
		background-color: rgba(0,0,0,.1);
	}
}


.tt-menu {
	width: 100% !important;
    margin: 12px 0;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.twitter-typeahead {
	display: block !important;
}

.card {
    &.study {
        .input-group-prepend {
            width: 30%;
            .input-group-text {
                width: 100%;
            }
        }
        .card-body {
            &:hover {
                background-color: $selected-study-color;
            }
        }
        &.active {
            background-color: $selected-study-color;
        }

        .demographic-area {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.multi-rows-operations {
    .btn-group.reassign {
        .dropdown-menu {
            overflow-y: scroll;
            max-height: 20rem;
        }
    }
}

.ck-editor__editable {
    min-height: 300px;
}